<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Console</title>
</head>
<body>
<header>
    <h1>Console</h1>
</header>
<main>
    <h1 th:text="${NES.manufacturer}">Manufacturer of console</h1>
    <h2 th:text="'The Console Release date is ' + ${NES.releaseDate}">Console release date</h2>
    <p th:text="${NES.medium}">Console medium</p>
    <p th:text="${NES.type}">Handheld or Home</p>
    <p th:text="${NES.controllerSupport}">Controller support</p>
    <p th:text="${NES.output}">Output</p>

</main>

</body>
</html>