<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha 3 Reviews</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/console.css" />

    <!-- fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">

</head>

<!-- nav bar -->

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/consoles">All Consoles</a>
        <div class="dropdown">
            <button class="dropbtn">Manufacturer
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/manufacturer/20">Sony</a>
                <a href="/manufacturer/19">Microsoft</a>
                <a href="/manufacturer/21">Nintendo</a>
                <a href="/manufacturer/22">Sega</a>
            </div>
        </div>
        <a href="/hashtags">Hashtags</a>
    </div>

    <!-- header -->

    <header>
        <div class="image-container">
            <h1 class="header-title"><strong>Alpha Three</strong><strong></strong></h1>
            <p class="header-subtitle"><strong>"Your #1 Console Review Source"</strong></p>
            <img src="../Images/A3.png" class="logo">
        </div>
    </header>

    <!-- Main page area -->
    <div class = "reviewSection">
        <div class = top>
            <section class = "nameImage">
                <h1 th:text="${inConsole.name}">System Name</h1>
                <img th:src="${inConsole.imgUrl}" class ="system_image">
            </section>
        </div>
    </div>

    <section class = "description">
        <p th:text="${inConsole.description}">Description</p>
    </section>

    <div class = "bottom">
        <section class = "systemDetails">
            <p>Release Date:</p>
            <h2 th:text="${inConsole.releaseDate}"></h2>
            <p>Manufacturer:</p>
            <h2 th:text="${inConsole.manufacturer}"></h2>
            <p>Portability:</p>
            <h2 th:text="${inConsole.type}"></h2>
            <p>Tags:</p>
            <div class="hashContainer" th:each = "hashtag: ${inConsole.hashtags}">
                <h2 th:text= "${hashtag.getHashtagbody}">Hashtags</h2>
            </div>
        </section>


        <div class = "ratingSection">
            <section>
                <form class = "formContainer" action="review" th:action="'/console/' + ${inConsole.id}" method="POST">
                    <h2>Submit Review</h2>
                    <input type="text" id="name" name="name" placeholder = "Your name"><br><br>
                    <textarea id="review" name="review" placeholder="Leave a review..." style="height:200px" maxlength="255"></textarea>
                    <input type="submit">
                </form>
            </section>

            <section>
                <form class = "formContainer2" action= "hashtag"  th:action="'/console/' + ${inConsole.id}"  method="POST">
                    <h2>Submit hashtag</h2>
                    <textarea id="hashtag" name="hashtag" placeholder="Leave a hashtag..."></textarea>
                    <input type="submit">
                </form>
            </section>
        </div>
    </div>

    <div class = "submittedReviews">
        <h2>Submitted Reviews</h2>
        <div class="container" th:each = "review: ${inConsole.reviews}">
            <p class = "reviewName" th:text= "${review.getName}"></p>
            <p class = "reviewText" th:text= "${review.getReviewbody}"></p>
        </div>
    </div>


    <!-- footer -->

    <footer class="footer" id="contact">
        <p>Please feel free to never contact us. Thank You.</p>
        <a href="" class="footer__link">dontsend@email.com</a>
    </footer>
</body>
</html>