<!--the view-->

<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<header>
    <h1>Welcome to Book!</h1>
</header>
<main>
    <h1 th:text="${NES.name}">System Name</h1>
    <h2 th:text="${NES.manufacturer}">Manufacturer of system</h2>
    <p th:text="{NES.releaseDate}">System release date</p>
    <p th:text="${NES.medium}">System medium</p>
    <p th:text="${NES.type}">Handheld or Console</p>
    <p th:text="${NES.controllerSupport}">Controller support</p>
    <p th:text="${NES.output}">Output</p>
    <p th:text="${NES.rating}">Rating</p>

</main>

</body>
</html>